<!-- Code credit: the code is written following the Code Institute tutorials (Boutique Ado Project). -->

<form class="form" action="{% url 'remove_from_wishlist' item.product.id %}" method="POST">
    {% csrf_token %}
    <a href="{% url 'product_detail' item.product.id %}">
        <p class="my-0 text-black"><strong>{{ item.product.name }}</strong></p>
    </a>
    <p class="my-0">
        <strong>Color: </strong>{% if item.product.product_colors %}{{ item.product_color }}{% else %}N/A{% endif %}
    </p>
    <p class="my-0 small text-muted">SKU: {{ item.product.id }}</p>
    {% if item.product.product_colors %}
        <input type="hidden" name="product_color" value="{{ item.product_color }}">
    {% endif %}
    <input type="submit" class="text-danger float-right remove" value="Remove">
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
</form>