<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=brand&direction=asc" class="dropdown-item">By Brand</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="face-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Face
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="face-link">
                <a href="{% url 'products' %}?category=foundation" class="dropdown-item">Foundation</a>
                <a href="{% url 'products' %}?category=blush" class="dropdown-item">Blush</a>
                <a href="{% url 'products' %}?category=bronzer" class="dropdown-item">Bronzer</a>
                <a href="{% url 'products' %}?category=foundation,blush,bronzer" class="dropdown-item">All Face Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="eyes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Eyes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="eyes-link">
                <a href="{% url 'products' %}?category=eyeliner" class="dropdown-item">Eyeliner</a>
                <a href="{% url 'products' %}?category=eyeshadow" class="dropdown-item">Eyeshadow</a>
                <a href="{% url 'products' %}?category=eyebrow" class="dropdown-item">Eyebrow</a>
                <a href="{% url 'products' %}?category=mascara" class="dropdown-item">Mascara</a>
                <a href="{% url 'products' %}?category=eyeliner,eyeshadow,eyebrow,mascara" class="dropdown-item">All Eyes Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="lips-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lips
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="lips-link">
                <a href="{% url 'products' %}?category=lip_liner" class="dropdown-item">Lip Liner</a>
                <a href="{% url 'products' %}?category=lipstick" class="dropdown-item">Lipstick</a>
                <a href="{% url 'products' %}?category=lip_liner,lipstick" class="dropdown-item">All Lips Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nails" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nails
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nails">
                <a href="{% url 'products' %}?category=nail_polish" class="dropdown-item">Nail Polish</a>
            </div>
        </li>
    </ul>
</div>